@import "base";

body {
	background: #000;
	color: $dark_font_colour;
}

.page > header {
	border-bottom: $border_width solid $dark_border_colour;
	h1 {
		color: $dark_header_font_colour;
	}
}

#game span {
	border: $border_width solid $dark_border_colour;
}

.selected {
	background: $dark_box_select_colour;
	color: #000;
}

.noselect {
	background: $dark_noselect_colour;
}

.buttons {
	header {
		background: $dark_button_header_colour;
		border: $border_width solid $dark_border_colour;
	}
	section {
		color: $dark_button_font_colour;
		border: $border_width solid $dark_border_colour;
		border-top: 0px;
		&:hover, &:active {
			background: $dark_button_hover_colour;
		}
	}
}

footer {
	border-top: $border_width solid $dark_border_colour;
}