/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "base";
@import "compass/reset";

body {
	font-family: Helvetica, Arial, sans-serif;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	@include clearfix;
}

body > header {
	border-bottom: 1px solid #333;
	h1 {
		text-align: center;
		line-height: 1em;
		font-size: 4em;
		text-transform: uppercase;
		font-weight: lighter;
		color: #333;
		font-family: Arial;
	}
}

#left, #center, #right {
	float: left;
}

#left, #right {
	width: 200px;
}

#center {
	width: 560px;
}

section > header {
	text-transform: uppercase;
	margin: 20px 0;
}

#game {
	margin: 20px auto;
	border: $border_width solid #333;
	width: $game_width;
	height: $game_height;
	span {
		display: block;
		float: left;
		width: $box_width;
		height: $box_height;
		text-align: center;
		line-height: $box_height;
		border: $border_width solid #333;
		cursor: pointer;
	}
	&+ .buttons {
		width: $game_width;
	}
}

.selected {
	background: #ffff66;
}

.buttons {
	margin: 20px auto;
	overflow: hidden;
	header {
		background: #ddd;
		padding: 10px;
		border: $border_width solid #333;
		margin: 0 auto;
	}
	section {
		text-align: center;
		color: #666;
		border: $border_width solid #333;
		border-top: 0px;
		padding: 10px;
		cursor: pointer;
		text-transform: uppercase;
		font-size: 14px;
		&:hover, &:active {
			background: #eee;
		}
		&:first-child {
			border-top: 1px solid #333;
		}
	}
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: $footer_height;
	border-top: $border_width solid #333;
	font-size: 12px;
	@include clearfix;
	text-transform: uppercase;
	section {
		width: 50%;
		float: left;
		text-align: center;
		line-height: $footer_height;
	}
}

#keyboard {
	position: absolute;
	left: 2.5%;
	right: 2.5%;
	bottom: 0;
	width: 95%;
	border-bottom: 0;
	background: #666;
	color: #eee;
	min-height: 0;
	span {
		width: 20%;
		min-height: $keyboard_button_height;
		line-height: $keyboard_button_height;
		font-size: 50px;
		display: block;
		float: left;
		text-align: center;
		&:hover, &:active {
			background: #999;
		}
	}
}

.page {
	@include container;
	@include at-breakpoint($break-desktop) {
		@include set-container-width;
		& > header {
//			@include span-columns(12,12);
		}
		#nav, #tasks {
			@include span-columns(3,12);
		}
		#game {
			@include span-columns(6,12);
		}
	}
	@include at-breakpoint($total-columns) {
		
	}
//	header {
//		@include span-columns(12,12);
//	}
}
